<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Temolate engine</title>
</head>
<body>
<div id="wrapper"></div>
	<script>
	'use strict';
	var tpl =
		`
			<div>
				<span class="title">
					{{title}}
				</span>
				<span class="text">
					{{text}}
				</span>
			</div>
			`;
	var list = [{
		title: 'qwerty',
		text: 'iuh',
		adress: 'chisinau'
	}, {
		title: 'ytrewq',
		text: 'booooooooom'
	}, {
		title: 'asdfgh',
		text: 'stradajte',
		adress: 'buhaiPokaMolod'
	}];

	function replaceTemplate(arr, string) {
		var div = document.getElementById('wrapper');
		var firstString = string;
		var result = '';

		arr.forEach(function(item) {
			var keys = Object.keys(item);

			for (var i = 0; i < keys.length; i++) {
				string = string.replace('{{' + keys[i] + '}}', item[keys[i]]);
			console.log('key: '+keys[i]+ ' Item key: '+ item[keys[i]]);
			}

			result += string;
			string = firstString;
		});
		div.innerHTML += result;
		return result;
	}

	console.log(replaceTemplate(list, tpl));
	</script>
</body>
</html>